{% extends "blog/base.html" %}
{% load static %}
{% block content %}
 <article class="media content-section">
     <div class="media-body">
        <h1 class="article-title">Для шифрования данных мы используем алгоритм AES</h1>         <p class="article-title">

             AES является одним из самых распространенных и безопасных алгоритмов симметричного шифрования. Он работает с фиксированным размером блока данных (128 бит) и поддерживает ключи длиной 128, 192 или 256 бит.
         </p><br>
         <p class="article-title">
             В режиме CBC каждый блок шифруется с использованием предыдущего блока, что добавляет дополнительный уровень безопасности. Это означает, что одинаковые блоки открытого текста будут шифроваться в разные блоки зашифрованного текста, если они находятся на разных позициях.
         </p><br>
         <p class="article-title">
             Fernet автоматически генерирует уникальный вектор инициализации (IV) для каждой операции шифрования, что также повышает безопасность, предотвращая повторное использование одного и того же IV для разных шифрованных сообщений.
         </p><br>
         <p class="article-title">
             Кроме того, для обеспечения целостности данных и аутентификации используется HMAC (Hash-based Message Authentication Code) на основе SHA-256. Это гарантирует, что данные не были изменены в процессе хранения или передачи.
         </p><br>
         <p class="article-title">
             Таким образом, при использовании Fernet вы получаете надежное шифрование с использованием современных криптографических стандартов, что делает его подходящим для защиты конфиденциальной информации.</p>
         </p>
     </div>
 </article>

{% endblock content %}