{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h2 class="article-title">Генерация пароля</h2>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
<!--                <div class="border-bottom mb-4">-->
                    <div class="form-group">
                        {{ form.length.label|safe }}
                        {{ form.length }}
                    </div>

                    <div class="form-check">
                        {{ form.include_digits }}
                        {{ form.include_digits.label|safe }}
                    </div>

                    <div class="form-check">
                        {{ form.include_uppercase }}
                        {{ form.include_uppercase.label|safe }}
                    </div>

                    <div class="form-check">
                        {{ form.include_special }}
                        {{ form.include_special.label|safe }}
                    </div>
<!--                </div>-->
            </fieldset>
            <div class="form-group">
                <button class="btn custom-outline" type="submit">Сгенерировать пароль</button>

            </div>
        </form>

        {% if password %}
            <div class="alert alert-success mt-4">
                <p>Сгенерированный пароль: <strong>{{ password }}</strong></p>
            </div>


            <form action="{% url 'record-pas-create'   %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="pas" value="{{ password }}">
                <button type="submit" class="btn custom-outline">Сохранить пароль</button>
            </form>
        {% endif %}
    </div>
{% endblock content %}