
{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title" >Редактировать сообщение</h2>
                <form class="article-title" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn custom-outline mb-4 mr-1" type="submit">Сохранить изменения</button>
                </form>
        </div>
    </article>


{% endblock %}
